@font-face {
  font-family: 'XXII ARABIAN-ONENIGHTSTAND';
  src: url('XXII ARABIAN-ONENIGHTSTAND.eot');
  src: url('XXII ARABIAN-ONENIGHTSTAND.eot?#iefix') format('embedded-opentype');
  src: url('XXIIARABIAN-ONENIGHTSTAND-Bold.woff') format('woff'),
       url('XXII ARABIAN-ONENIGHTSTAND.ttf') format('truetype'),
       url('XXIIARABIAN-ONENIGHTSTAND-Bold.svg#XXIIARABIAN-ONENIGHTSTAND-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}



