body {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 15px;
  color: #fff;
  line-height: 30px;
  background-color: #0f0e10;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-family: 'Georgia', Times, Times New Roman, serif;
  color: #ffff99;
  font-weight: bold;
  text-align: center;
}

h1 {
  padding-bottom: 5px;
  font-size: 30px;
  line-height: 49px;
  font-weight: bold;
}

.container {
	margin: 0 auto;
  	width: 100%;
  	max-width: 1180px;
}

#instructions {
  	padding: 28px 31px 21px 35px;
  	border: dotted 2px #ccc;
  	border-radius: 8px;
}

#game-action {
	margin-top: 35px;
}

#random-match-display, #wl-counters {
	position: relative;
	float: left;
}

#gem-imgs {
	position: relative;
	float: right;	
}

#gem-imgs > img:hover {
	cursor: pointer;
	opacity: 0.5;
}

#wl-counters {
	padding: 10px 20px 15px 20px;
	font-size: 20px;
	font-weight: bold;
	line-height: 45px;
	background-color: #ccc;
	border-radius: 15px;
	border: double 5px #0f0e10;
	color: #000;
}

#random-match-display {
	width: 170px;
	height: 170px;
	margin: 0 20px;
	padding-top: 65px;
	background-color: #8c1be2;
	border-radius: 15px;
	border: double 5px #0f0e10;
	color: #000;
	text-align: center;
	font-size: 60px;
	font-weight: bold;
}