body {
  font-family: 'XXII ARABIAN-ONENIGHTSTAND', 'Helvetica Neue', Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 15px;
  color: #fff;
  line-height: 30px;
   background: #051630; 
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-family: 'XXII ARABIAN-ONENIGHTSTAND', 'Helvetica Neue', Helvetica, sans-serif;
  color: #ffff99;
  font-weight: bold;
  text-align: center;
}

h1 {
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: 0;	
  font-size: 45px;
  text-transform: uppercase;
  line-height: 49px;
  font-weight: bold;


}

.container {
	margin: 0 auto;
  	width: 100%;
  	max-width: 1180px;
}

#instructions {
  	padding: 65px 31px 65px 35px;
  	background-image: url(../images/scroll.png);
  	background-size: 100% 100%;
  	background-repeat: no-repeat;
  	color: #000;	
  	line-height: 25px;    
}

#instructions > p {
	-ms-transform: rotate(-3deg); /* IE 9 */
    -webkit-transform: rotate(-3deg); /* Chrome, Safari, Opera */
    transform: rotate(-3deg);
}

#gem-imgs {
	margin-top: 30px;
	text-align: center;
}

#gem-imgs > img {
	height: 120px;
}

#gem-imgs > img:hover {
	cursor: pointer;
	opacity: 0.5;
}

#wl-counters {
	/*position: relative;*/
	padding: 10px 20px 15px 20px;
	font-size: 20px;
	font-weight: bold;
	line-height: 45px;
	background-color: #ccc;
	border-radius: 15px;
	border: double 5px #051630;
	color: #000;
}

#random-match-display, #user-score {
/*	position: relative;*/
	height: 170px; 
	width: 100%;
	padding-top: 65px;
	border-radius: 15px;
	border: double 5px #051630;
	color: #000;
	text-align: center;
	font-size: 60px;
	font-weight: bold;
}

#random-match-display {	background-color: #f4c842;  } 

#user-score {  background-color: #8c1be2;  }  

#announce { text-decoration: underline; }